extends layout

block content
  script(src="/javascripts/iframes.js")
  h1= title
  p Welcome to #{title}
  p more to go here
  a(href="/users") link
  p
  a(href="#" onClick="votedigital();") topup
  script.
